#Activity{
display: flex;
flex-direction: column;
gap: 2px;
}
#Activity,p{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Activity, div{
    gap: 5px;
}
h1{
    display: flex;
    justify-content: center;
}
p{
    font-weight: bold;
}
.youractivity{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px black;
}