.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    border-radius: 5px;
    background-color: yellow;
}